.App {
  text-align: center;
}

.Map {
  margin-right: 20%;
  padding-right: 20%;
  height: 100vh;
  float: left;
}

.Sidebar {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: lightgray;
  position: fixed;
  height: 100%;
  overflow: auto;
}